* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100vh;
}

.hero-section {
    width: 100%;
    height: 100vh;
}

h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
}

.menu-btn {
    position: fixed;
    margin: 1em;
    font-size: 28px;
}

.menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #121212;
    opacity: 0;
}

.close-menu {
    position: fixed;
    margin: 1em;
    font-size: 28px;
    color: #fff;
    z-index: 1;
}

.nav {
    position: absolute;
    left: 21%;
    margin-top: 8%;
}

.main-menu-item {
    padding-top: 30px;
    font-size: 22px;
}

.main-menu-item a {
    color: #fff;
    font-weight: lighter;
    display: flex;
    align-items: center;
}

.submenu-item a {
    color: grey;
}

.submenu li {
    margin: 20px 0;
}

a ion-icon {
    position: relative;
    font-size: 18px;
    opacity: 0.4;
}

.submenu {
    display: none;
}

.contact {
    color: #fff;
    position: absolute;
    bottom: 70px;
    right: 24%;
}

.contact p {
    font-weight: lighter;
    color: grey;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.media {
    position: absolute;
    bottom: 70px;
    left: 22%;
}

.media ul li {
    display: inline-block;
    color: grey;
    font-weight: lighter;
    padding-right: 15px;
    font-size: 18px;
}



@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    .nav {
        margin-top: 20%;
    }
    .contact {
        display: none;
    }
}







